/*.label{
    width: 100%;
    display: inline-flex;
    margin: 15px;
}
.arrow up icon{
    background-color: lightslategrey;
    width: 30%;
    text-align: center;
    color: floralwhite;
}
.arrow down icon {
    border: 2px solid lightslategray;
    text-align: center;
    width: 70%;*/
/*}*/