<div class="container">
        <section id="products">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="http://media.wiley.com/product_data/coverImage300/89/11180081/1118008189.jpg" width="300" height="400">
              <div class="caption">
                <h4 class="pull-right">
                  $30.21
                </h4>
                <h4><a routerLink='/title2'>Html and Css</a></h4>
                <p><b>Author: </b>John Duckett</p>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star-o" aria-hidden="true"></span>
                    
                  <p class="pull-right">10 Reviews</p>
                </div>
              </div>
            </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="https://static-2.gumroad.com/res/gumroad/9020778927120/asset_previews/b6823b47db9446b83b29cbb7afbd8642/retina/title_page.jpg" width="300" height="400">
              
              <div class="caption">
                <h4 class="pull-right">
                  $56.25
                </h4>
                <h4><a routerLink='/title3'>NG-Book2</a></h4>
                <p><b>Author: </b>Felipe Coury</p>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star-half-o" aria-hidden="true"></span>
                    <span class="fa fa-star-o"></span>
                    
                  <p class="pull-right">13 Reviews</p>
                </div>
              </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="http://www.deitel.com/bookresources/SwiftFP/SwiftFP.png" width="300" height="400">
              <div class="caption">
                <h4 class="pull-right">
                  $13.89
                </h4>
                <h4><a routerLink='/title4'>Swift For Programmers</a></h4>
                <p><b>Author: </b>Paul deitel</p>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                     <span class="fa fa-star-o"></span>
                    <span class="fa fa-star-o"></span>
                    <p class="pull-right">8 Reviews</p>
                </div>
              </div>
            </div>
          <div class="col-md-4">
            <div class="thumbnail">
              <img src="http://www.freetechbooks.com/uploads/1460261400-51156PT2DRL._SX370_BO1,204,203,200_%20(1).jpg" width="300" height="400">
              <div class="caption">
                <h4 class="pull-right">
                  $3.28
                </h4>
                <h4><a routerLink="/title5">Essential of the JAVA</a></h4>
                <p><b>Author: </b>Monica Pawlan</p>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>

                   
                  <p class="pull-right">7 Reviews</p>
                </div>
              </div>
            </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="https://www.qtrac.eu/py3bookm.png" width="300" height="400">
              <div class="caption">
                <h4 class="pull-right">
                  $33.12
                </h4>
                <h4><a routerLink="/title6">Programming in PHYTON-3</a></h4>
                <p><b>Author: </b>Mark SummerField</p>
                    <span class="fa fa-star" aria-hidden="true"></span>
                   <span class="fa fa-star" aria-hidden="true"></span>
                   <span class="fa fa-star" aria-hidden="true"></span>
                   <span class="fa fa-star" aria-hidden="true"></span>

                    <span class="fa fa-star-half-o"></span>
                  <p class="pull-right">12 Reviews</p>
                </div>
              </div>
            </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img src="https://images-na.ssl-images-amazon.com/images/I/51KEqIsBa4L._SX370_BO1,204,203,200_.jpg" width="300" height="400">
              <div class="caption">
                <h4 class="pull-right">
                  $59.65
                </h4>
                <h4><a routerLink="/title7" >The C++ Programming Language </a></h4>
                <p><b>Author: </b>Bajarne Stroustrup</p>
                   <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                    <span class="fa fa-star" aria-hidden="true"></span>
                  <p class="pull-right">14 Reviews</p>
              </div>
            </div>
          </div>
        </div>
        </section>
        </div>
        <!--<router-outlet></router-outlet>-->
