<header>
  <div class="header-banner" >
    <!--<div href="/" class="logo"></div>-->
   
    <h1>HUt Reservation System</h1>
   
  </div>
  <div class="clear"></div>
  <nav>
    <ul>
      <li><a  routerLink="title1">Home </a></li>
      <li><a  routerLink="/list">list</a></li>
      <li><a  routerLink="/title3">Rervations</a></li>
      <li><a  routerLink="/title4">Contacts</a></li>
      <li><a [routerLink]="['signup']">Sign Up</a></li>
      <li><a [routerLink]="['signin']">Sign In</a></li>
      <li><a [routerLink]="['protected']">Protected</a></li>
      
      </ul>
       <ul class="nav navbar-nav navbar-right" *ngIf="isAuth()"> 
      <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
      </ul>
      <!--</div>-->
      </nav>
      </header>
     
<router-outlet></router-outlet>
<!--<app-footer></app-footer>-->
    
   