/*h3{
    text-align: center;
    background-color: lightslategrey;
    color: floralwhite;
    text-transform: uppercase;
    font-family: "Times", 'Times New Roman', Times, serif;
    width: 45%;
    padding: 35px auto; 
    margin: 5px auto;
}
form {
    border: 2px solid lightslategrey;
    padding: 20px 20px;
    margin: 10px auto;
    width: 45%;
    align-content: center;
}
input {
    padding: 3px;
    width: 39%;
}
.container-fluid {
    margin: 10px auto;
    padding: 10px auto;
    width: 47.3%;
}*/