<div class="container">
    <div class="panel panel-primary">
        <!--<div class="panel-heading">
            Book Store
        </div>-->
        <div class="panel-body">
            <!--<div class="row">
                <img src="./app/assets/images/logo.jpg"
                     class="img-responsive center-block"
                     id="logo"/>
            </div>-->
            <!--<div class="row"  >
                <div class="text-center byline">Developed by:</div>
                <h3 class="text-center">Aisha Syed</h3>-->
<div class="col-md-12">
                <div class="text-center">
                  
                   
                    
                    
                    <!--Welcome to our site!
Whether you've come to our website looking for a piece of advice, willing to ask a question or ready to order your custom essay, you will find lots of helpful information about essay writing process and online ordering peculiarities.

<li [ngStyle]="{color:'red'}" >We are professional, educated, experienced, and dedicated to your success!</li>
<li [ngStyle]="{color:'red'}" > What we definitely know is that every student who comes to us needs help and needs it urgently.</li>
<li [ngStyle]="{color:'red'}">  We fulfill our promises and guarantee that every custom essay, critical paper, or admission statement is written by an experienced writer.</li>
<li [ngStyle]="{color:'red'}"  > We are here to assist you, to guide you through the process and help you write an essay or a coursework</li>-->
                
                <h1 [ngStyle]= "{'color':'brown' , 'text-align': 'center',  'font-size': '60px',
                'margin-top': '30px'}">A Few Word About Us</h1>
                
                  <div class="row">
                        <img src="http://s5.favim.com/orig/53/beautiful-book-cute-photography-Favim.com-496352.jpg" width="750" height="250"/>
                        </div>
                   <h3 [ngStyle]= "{'color': 'brown', 'margin-left': '350px', 'margin-top': '30px', 'font-size': '30px'}">YOUR TEXTBOOK SOURCE</h3>   
                   <p [ngStyle]="{'margin-top': '30px' ,'font-size': '18px', 'color': '	#D2B48C' }">We know buying, renting, and selling online isn’t just about price. You also need to know you’re getting value. Value is confidence in the product and trust in the process. That's why we provide product and seller reviews so you always know what you’re buying or renting and from whom. If something ever goes wrong, our dedicated team of professional problem solvers will make it right.</p>  
                    
                    </div>
                </div>
            </div>
        </div>
        
    <!--</div>-->
<!--</div>-->


