<div class="row">
  <div class="col-xs-12">
    <form id="shopping-List-add">
<div class="row">
  <div class="col-sm-5 form-group">
  <label for="item-name">Name</label>
  <input type="text" id="item-name" required class="form-control"/>
  </div>

    <div class="col-sm-5 form-group">
  <label for="item-name">Specification</label>
  <input type="text" id="item-name" required class="form-control"/>
  </div>
</div>

  <div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" type="submit">Add</button>
    <button class="btn btn-danger" type="button">Delete Item</button>
    <button class="btn btn-primary" type="button">Clear</button>
  </div>
  </div>
  </form>
</div>
  </div>