
<div class="container-fluid">

<!--<nav class="navbar navbar-light bg-faded">-->
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
   <!--<nav class="navbar navbar-dark bg-primary">-->
     <!--<nav class="navbar navbar-dark bg-inverse">-->


  <a class="navbar-brand" href="#">BOOK STORE</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="">About Us<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/title1">Books</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/title8">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/title9">Log In</a>
    </li>
    <!--<app-login></app-login>
    <app-search-bar></app-search-bar>-->
   
 
    
    <!--<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>-->
  </ul>
  <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>
</div>
<router-outlet></router-outlet>
<!--<app-login></app-login>-->
<!--<a routerLink="/title">click</a>-->
<!--<div id="content">
 <div class="container">

 <app-login></app-login>

 <hr>
 <router-outlet></router-outlet>
</div>
 </div>-->
<!--<router-outlet></router-outlet>-->
<!--<app-login></app-login>-->
<!--<div class="container-fluid">-->

<!--<nav class="navbar navbar-light bg-faded">-->
 <!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->


