<h1 [ngStyle]="{'color':'brown' , 'text-align': 'center',  'font-size': '60px' , 'margin-top': '30px'}">Contact US</h1>
<i class="fa fa-phone" aria-hidden="true" style="font-size:78px ; color:brown ; margin-top:80px
; margin-left:150px"><br/><div [ngStyle]="{'color': '#D2B48C' , 'font-size': '30px' , 'margin-top': '50px'
, 'margin-left': '-35px'}">+92 312 4567890
    <br/>
+92 312 4567890
</div></i>

<i class="fa fa-envelope" aria-hidden="true" style="font-size:78px ; color:brown ; margin-top:100px
; margin-left: 270px ; "><br/><br/><div [ngStyle]="{'color': '#D2B48C' , 'font-size': '30px' , 'margin-top': '20px'
, 'margin-left': '-60px'}">info@BookStore.org
 
    </div></i>

<i class="fa fa-map-marker" aria-hidden="true" style="font-size:92px ; color:brown; margin-top:100px
 ; margin-left: 280px"><br/><div [ngStyle]="{'color': '#D2B48C' , 'font-size': '30px' , 'margin-top': '50px'
 ,'margin-left': '-60px'}">
      Block ABC, <br/>
      KARACHI, PAKISTAN.
</div></i>